#root {
  margin: 0 auto;
  padding: 1rem;
}

.continer_col {
  display: flex;
  flex-direction: row;
}

.col3 {
  margin: 0 0.9rem;
  background-color: rgb(79, 128, 111);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.col4 {
  margin: 0 0.9rem;
  background-color: rgb(153, 152, 159);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
