#root {
  margin: 0 auto;
  padding: 2rem;
}

.continer_col {
  display: flex;
  flex-direction: row;
}

.col3 {
  margin: 0 1rem;
  background-color: rgb(79, 128, 111);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
